.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  text-decoration: none;
}

.btn-outline-primary{
    background-color: white;
}

header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #D9D9D9;
}

main{
  background-color: #F2F2F2;
}